$letter__primary: rgba(0, 0, 0, 0.87);
$letter__secondary: rgba(0, 0, 0, 0.6);
$letter__disable: rgba(0, 0, 0, 0.38);

//* DBS Color Palette
$dbs_red: #ff3333;
$dbs_maroon: #800000;
$dbs_black: #000000;
$palette__link: rgb(38, 115, 221);

//* Functional Colors
$functional__error: rgb(238, 44, 74);
$functional__caution: rgb(246, 145, 19);
$functional__success: rgb(68, 204, 119);
$functional__error--bg: rgb(255, 244, 244);
$functional__caution--bg: rgb(255, 248, 228);
$functional__success--bg: rgb(247, 255, 255);

//* Background Colors
$background-primary: #ffffff;
$background-secondary: #f8f8f8;
